* {

  font-family: 'Quicksand', sans-serif;

}

body{
  margin-bottom: 10%;
}

h1 {

  text-align: center;
  color: #191654;
  margin-top: 3%;

}

.father {

  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;
  perspective: 1000;

}

.container {

  width: 50%;
  margin: auto;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  box-shadow: 20px 20px 9px 0px #a2a2a2;

}


.col-2 {

  padding-top: 30px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  width: 80px;
  height: 70px;
  margin: 5%;
  background: black;
  border-radius: 10px;
  vertical-align: top;
  z-index: 0;
  font-size: -webkit-xxx-large;

}

.fade {

  background-color: rgb(255, 235, 59);

}

.z-index {

  color: #43C6AC;
  z-index: 1;

}
