* {

  font-family: 'Quicksand', sans-serif;

}

h1 {

  text-align: center;
  color: #007a99;
  margin-top: 10%;

}

.father {

  display: flex;
  flex-wrap: wrap;
  margin-left: 9%;

}

.container {


  width: 50%;
  margin: auto;
  background: linear-gradient(to bottom, #007a99 8%, #00ff99 115%);
  border-radius: 10px;
  box-shadow: 20px 20px 9px 0px #a2a2a2;

}

.col-2 {

  text-align: center;
  width: 80px;
  height: 70px;
  margin: 5%;
  background: #afeaf9;
  border-radius: 10px;

}
